@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-color: #191f1d;
  --mid-dark: #555a57;
  --light-color: #ece0c8;
  --mid-light: #949993;
  --shadow: #0005;
  --linear-rainbow: linear-gradient(
    to right,#ede6bf,#ecc947,#cb5a31,#6f5d79,#4e779a
  );
  --circle-rainbow: radial-gradient(
    circle at left top,#ede6bf,#ecc947,#cb5a31,#6f5d79,#4e779a
  );
  --noise-texture: url(https://i.gyazo.com/a26366e538851a5c569ff648e99b7fd4.png);
  --gif-texture: url(https://64.media.tumblr.com/da60c13b478dda09ab90c27e880983b8/tumblr_nd4pwdPKdc1tun3l0o1_1280.gifv);
}

html,
body {
  margin: 0;
  height: 100vh;
}

body {
  display: grid;
  place-items: center;
  background: var(--dark-color);
  background-image: var(--noise-texture);
  background-blend-mode: overlay;
  background-color: #6495ED;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  gap: 48px;
  font-size: 16px;
}

a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.15rem;
  font-family: "Mulish", sans-serif;
  color: black;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:not(.buy, .buy-cta, .learn) {
  width: 64px;
}

a:hover:not(.buy, .buy-cta, .learn) {
  transition: all 0.2s ease-in-out;
  font-weight: 900;
  text-shadow: 0 0 8px var(--light-color);
}

.buy {
  display: grid;
  place-items: center;
  font-weight: 900;
  border: 1px solid var(--mid-light);
  height: 40px;
  width: 128px;
  transition: all 0.2s;
}

.buy:hover {
  scale: 1.1;
  background: var(--light-color);
  color: var(--dark-color);
  border: 1px solid var(--light-color);
}

body::-webkit-scrollbar {
  width: 0.2rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: -webkit-radial-gradient(
    circle,
    #b9a8fd 0%,
    #fd1d83 50%,
    #fcc545 100%
  );
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

.txt {
    margin-top: 100px;
  font-family: 'Calligraffitti', cursive;
  font-weight: 700;
  font-size: 7rem;
  position: absolute;
  text-shadow: -15px 5px 20px #ced0d3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 0.02em;
  text-align: center;
  color: #F9f1cc;
  text-shadow: 5px 5px 0px #FFB650, 
    10px 10px 0px #FFD662, 
    15px 15px 0px  #FF80BF, 
    20px 20px 0px #EF5097, 
    25px 25px 0px #6868AC, 
    30px 30px 0px #90B1E0;
}

#cat{
    margin-top: 100px;
}
#paper {
    width: 600px;
    height: 700px;
    position: relative;
    margin: 20px auto;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888;
  }
  
  /* styling red vertical line */
  #paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
  }
  
  /* styling blue horizontal lines */
  #pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
  }
  
  /* styling text content */
  #content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-family: 'Dancing Script', cursive;
    font-size: 19px;
    letter-spacing: 1px;
    word-spacing: 5px;
  }


  .container {
    position: relative;
  }
  
  .valentines {
    position: relative;
    top:50px;
    cursor: pointer;
    animation: up 3s linear infinite;
  }
  
  @keyframes up {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
  
  
  .envelope {
    position: relative;
    width: 300px;
    height:200px;
    background-color: #f08080; 
  }
  
  .envelope:before {
    background-color: #f08080; 
    content:"";
    position: absolute;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
    top:-105px;
    left:44px;
    border-radius:30px 0 0 0;
  }
  
  .card {
    position: absolute;
    background-color: #eae2b7;
    width: 270px;
    height: 170px;
    top:5px;
    left:15px;
    box-shadow: -5px -5px 100px rgba(0,0,0,0.4); 
  }
  
  .card:before {
    content:"";
    position: absolute;
    border:3px solid #003049;
    border-style: dotted;
    width: 240px;
    heighT: 140px;
    left:12px;
    top:12px;
  }
  
  .text {
    position: absolute;
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    text-align: center;
    line-height:25px;
    top:19px;
    left:85px;
    color: #003049;
  }
  
  .heart {
    background-color: #d62828;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 110px;
    left:105px;
    transform: rotate(-45deg);
    width: 30px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: #d62828;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  
  .heart:before {
    top: -15px;
    left: 0;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  }
  
  .hearts {
    position: absolute  
  }
  
  .one, .two, .three, .four, .five {
    background-color: red;
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    position: relative;
    transform: rotate(-45deg);
    width: 10px;
    top:50px;
  }
  
  .one:before,
  .one:after, .two:before, .two:after, .three:before, .three:after, .four:before, .four:after, .five:before, .five:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
  }
  
  .one:before, .two:before, .three:before, .four:before, .five:before {
    top: -5px;
    left: 0;
  }
  
  .one:after, .two:after, .three:after, .four:after, .five:after {
    left: 5px;
    top: 0;
  }
    
  .one {
    left:10px;
    animation: heart 1s ease-out infinite; 
  }
  
  .two {
    left:30px;
    animation: heart 2s ease-out infinite; 
  }
  
  .three {
    left:50px;
    animation: heart 1.5s ease-out infinite;
  }
  
  .four {
    left:70px;
    animation: heart 2.3s ease-out infinite;
  }
  
  .five {
    left:90px;
    animation: heart 1.7s ease-out infinite;
  }
  
  @keyframes heart {
    0%{
      transform: translateY(0) rotate(-45deg) scale(0.3);
      opacity: 1;
    }
    100%{
      transform: translateY(-150px) rotate(-45deg) scale(1.3);
      opacity: 0.5;
    }
  }
  
  .front {
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left:120px;
    top:5px;
    width:0;
    height:0;
    z-index:10;
  }
  
  .front:before {
    position: absolute;
    content:"";
    border-left: 300px solid #f8ad9d;
    border-top: 195px solid transparent;
    left:-120px;
    top:-95px;
    width:0;
    height:0;
  }
  
  .shadow {
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius:50%;
    background-color: rgba(0,0,0,0.3);
    top:265px;
    left:-15px;
    animation: scale 3s linear infinite;
    z-index:-1;
  }
  
  @keyframes scale {
    0%, 100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0.85);
    }
  }

  